<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Customer Service</title>
</head>
<body>

<form class="container login-box" method="post">
  <h1>Login to Customer Service Platform</h1>
  {% if error_msg %}
    <div style="color: #ff7f50">
      {{ error_msg }}
    </div>
  {% endif %}
  <div>
    <label>Username</label>
    <input name="username" placeholder="Enter Username">
  </div>
  <div>
    <label>Password</label>
    <input type="password" name="password" placeholder="Password">
  </div>
  <button type="submit" style="margin-top: 20px">Login / Register</button>
</form>
</body>

<style>
    .login-box{
        margin: 100px auto 0 auto;
        max-width: 800px;
    }
</style>
</html>
